# =========================
# Build outputs
# =========================
x64/
Debug/
Release/
bin/
build/

# =========================
# Visual Studio files
# =========================
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Compiled files
# =========================
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll

# =========================
# Raylib / assets (optional)
# =========================
*.log

# =========================
# CMake (if used later)
# =========================
CMakeFiles/
CMakeCache.txt

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db